.resource-item-title-layout {
    display: flex;
    align-items: center;

    .resource-item-title-text {
        color: var(--color-9);
        font-weight: var(--weight-3);
        font-size: var(--size-2);
    }

    img {
        padding-top: 2px;
    }
}
