.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto;
}

.demo-header {
    display: grid;
    background-color: #5f646e;
    color: #f1ebe1cc;
    font-weight: 400;
    margin: 0 0;
    line-height: 1em;
    align-items: center;
}